@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Heebo:wght@400;500;700&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap");
/* 
    Prefixes Mixin
    - Auto Add Prefixes To Properties
*/
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Heebo", sans-serif;
}

p, a {
  font-family: "Roboto", sans-serif;
}

.tabs_control .nav-tabs {
  border: none;
}

/* Start Header */
@media (max-width: 330px) {
  header nav .navbar-brand {
    width: 70%;
    height: 70%;
  }
  header nav .navbar-brand img {
    width: 100%;
    height: 100%;
  }
}
header nav .collapse .navbar-nav li {
  position: relative;
  padding: 10px 0;
  font-size: 17px;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
header nav .collapse .navbar-nav li a {
  color: #2D3766 !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
header nav .collapse .navbar-nav li:hover a {
  color: #1DBCDD !important;
}
@media (min-width: 992px) {
  header nav .collapse .navbar-nav li {
    padding: 30px 15px;
  }
  header nav .collapse .navbar-nav li:hover:after {
    background-color: #1DBCDD;
  }
  header nav .collapse .navbar-nav li:hover a {
    color: #1DBCDD !important;
  }
  header nav .collapse .navbar-nav li:after {
    content: "";
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: transparent;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  header nav .collapse .navbar-nav li {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  header nav .collapse .navbar-nav {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}
header nav .collapse button {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 10px 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
header nav .collapse .language_button {
  padding: 10px 15px;
  margin-left: 10px;
  margin-right: 10px;
  color: #2A3554;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #1DBCDD;
}

/* End Header */
.owl-carousel .owl-stage-outer {
  transform: translate3d(0, 0, 0);
}

/* Start Banner */
.banner_area {
  position: relative;
  padding-top: 120px;
  padding-bottom: 60px;
  background: url(/images/banner/01.png) no-repeat center;
  background-size: cover;
}
.banner_area .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(/images/banner/overlay.svg);
  background-size: cover;
}
.banner_area .heading {
  color: #FFF;
}
.banner_area .heading h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.banner_area .heading p {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
  padding: 5px;
}
.banner_area .content .item {
  padding: 15px;
  background-color: #FFF;
  border: 1px dashed #1DBCDD;
  border-radius: 10px;
}
.banner_area .content .item h3 {
  font-size: 20px;
  color: #2D3766;
  margin-top: 16px;
  margin-bottom: 8px;
}
.banner_area .content .item p {
  font-size: 16px;
  color: #6F7F9F;
}
.banner_area .content .item button {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 8px;
  margin-bottom: 10px;
  border: 1px solid #1DBCDD;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #2A3554;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.banner_area .content .item button:hover {
  background-color: #1DBCDD;
  color: #FFF;
}
@media (max-width: 991px) {
  .banner_area .content .item {
    margin-bottom: 30px;
  }
}

/* End Banner */
/* Start Licenses and companies */
.licenses_companies_area {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #F6F9FF;
}
.licenses_companies_area h3 {
  font-size: 20px;
  font-weight: bold;
  color: #1DBCDD;
}
.licenses_companies_area .tabs_control {
  margin-top: 26px;
  margin-bottom: 30px;
}
.licenses_companies_area .tabs_control ul {
  display: flex;
  justify-content: center;
}
.licenses_companies_area .tabs_control ul li {
  width: 170px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #FFF;
  color: #2A3554;
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
  box-shadow: 0px 0px 6px #A2AFCD33;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.licenses_companies_area .tabs_control ul li:hover, .licenses_companies_area .tabs_control ul li.selected {
  background-color: #1DBCDD;
  color: #FFF;
}
.licenses_companies_area .tab_content > div:not(.tab_three_one) {
  display: none;
}
.licenses_companies_area .tab_content .brand {
  margin-bottom: 30px;
  padding: 15px;
  background-color: #FFF;
  border-radius: 5px;
  overflow: hidden;
}
.licenses_companies_area .tab_content .brand img {
  max-width: 270px;
  max-height: 132px;
}
.licenses_companies_area .tab_content .brand h3 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #2A3554;
}
.licenses_companies_area .tab_content .brand p {
  font-size: 14px;
  color: #A2AFCD;
  margin-bottom: 10px;
}

/* End Licenses and companies */
/* Start Our Works */
.our_works_area {
  padding-top: 60px;
  padding-bottom: 30px;
}
.our_works_area h3 {
  text-align: center;
  text-transform: capitalize;
  color: #1DBCDD;
  font-size: 20px;
  font-weight: bold;
}
.our_works_area .tabs_control {
  margin-top: 26px;
  margin-bottom: 30px;
}
.our_works_area .tabs_control ul {
  display: flex;
  justify-content: center;
}
.our_works_area .tabs_control ul li {
  width: 170px;
  height: 42px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #FFF;
  color: #2A3554;
  border-radius: 3px;
  box-shadow: 0px 0px 6px #A2AFCD33;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.our_works_area .tabs_control ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #2A3554;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.our_works_area .tabs_control ul li:hover a, .our_works_area .tabs_control ul li.active a {
  background-color: #1DBCDD;
  color: #FFF;
}
@media (max-width: 767px) {
  .our_works_area .tabs_control > ul {
    flex-direction: column;
    align-items: center;
  }
  .our_works_area .tabs_control > ul li {
    margin-bottom: 10px;
  }
}
.our_works_area .tab_content .card {
  margin-bottom: 30px;
  border-radius: 5px !important;
  box-shadow: 0px 0px 14px #A2AFCD33;
}
.our_works_area .tab_content .card .img_container {
  position: relative;
}
.our_works_area .tab_content .card .img_container .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, 0.35);
}
.our_works_area .tab_content .card .img_container img {
  border-radius: 5px 5px 0px 0px;
}
.our_works_area .tab_content .card .img_container a {
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 5px 10px;
  background-color: #FFF;
  color: #2D3766;
  font-size: 13px;
  text-decoration: none;
  border: 1px dashed #1DBCDD;
}
.our_works_area .tab_content .card .card-body h6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our_works_area .tab_content .card .card-body h6 .project_name {
  color: #2A3554;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.our_works_area .tab_content .card .card-body h6 .country {
  font-size: 13px;
  font-weight: 400;
}
.our_works_area .tab_content .card .card-body p {
  font-size: 14px;
  font-weight: 300;
  color: #2A3554;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .our_works_area .tab_content .card .card-body h6 .project_name {
    font-size: 14px;
  }
  .our_works_area .tab_content .card .card-body h6 .country {
    font-size: 11px;
  }
  .our_works_area .tab_content .card .card-body p {
    font-size: 12px;
  }
}
.our_works_area .tab_content .card:hover .project_name {
  color: #1DBCDD !important;
}
.our_works_area .tab_content .tab_two .nav-tabs,
.our_works_area .tab_content .tab_three .nav-tabs {
  padding-right: 0;
  border: none;
}
.our_works_area .tab_content .tab_two .nav-tabs li,
.our_works_area .tab_content .tab_three .nav-tabs li {
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px !important;
  box-shadow: 0px 0px 14px #A2AFCD33;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  padding-right: 0;
  padding-left: 0;
}
.our_works_area .tab_content .tab_two .nav-tabs li a,
.our_works_area .tab_content .tab_three .nav-tabs li a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.our_works_area .tab_content .tab_two .nav-tabs li a .card,
.our_works_area .tab_content .tab_three .nav-tabs li a .card {
  margin-bottom: 0;
}
.our_works_area .tab_content .tab_two .nav-tabs li a .card .img_container,
.our_works_area .tab_content .tab_three .nav-tabs li a .card .img_container {
  position: relative;
}
.our_works_area .tab_content .tab_two .nav-tabs li a .card .img_container img,
.our_works_area .tab_content .tab_three .nav-tabs li a .card .img_container img {
  border-radius: 5px 5px 0px 0px;
}
.our_works_area .tab_content .tab_two .nav-tabs li a .card .card-body,
.our_works_area .tab_content .tab_three .nav-tabs li a .card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our_works_area .tab_content .tab_two .nav-tabs li a .card .card-body .card-title,
.our_works_area .tab_content .tab_three .nav-tabs li a .card .card-body .card-title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.our_works_area .tab_content .tab_two .nav-tabs li a .card:after,
.our_works_area .tab_content .tab_three .nav-tabs li a .card:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  border-radius: 0px 0px 3px 3px;
}
.our_works_area .tab_content .tab_two .nav-tabs li a .card:hover .card-title,
.our_works_area .tab_content .tab_three .nav-tabs li a .card:hover .card-title {
  color: #1DBCDD !important;
}
.our_works_area .tab_content .tab_two .nav-tabs li a .card:hover:after,
.our_works_area .tab_content .tab_three .nav-tabs li a .card:hover:after {
  background-color: #1DBCDD;
}
.our_works_area .tab_content .tab_two .nav-tabs li.active .card-title,
.our_works_area .tab_content .tab_three .nav-tabs li.active .card-title {
  color: #1DBCDD !important;
}
.our_works_area .tab_content .tab_two .nav-tabs li.active .card:after,
.our_works_area .tab_content .tab_three .nav-tabs li.active .card:after {
  background-color: #1DBCDD !important;
}

/* End Our Works */
/* Start Videos Area */
.videos_area {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #F6F9FF;
}
.videos_area h3 {
  font-size: 20px;
  font-weight: bold;
  color: #1DBCDD;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.videos_area .video_container {
  margin-bottom: 30px;
  position: relative;
}
.videos_area .video_container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1A1A1A;
  opacity: 0.48;
}
.videos_area .video_container .content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videos_area .video_container .content .play_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 50%;
  background-color: #FFF;
  color: #1DBCDD;
  font-size: 13px;
  cursor: pointer;
  z-index: 3;
}
.videos_area .video_container .content h6 {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}
.videos_area .video_container video {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  height: 100%;
  object-fit: cover;
}

/* End Videos Area */
/* Start statistics */
.statistics {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(/images/Statistics/timthumb.png);
}
.statistics .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/Statistics/timthumb-1.svg);
}
.statistics h3 {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.statistics p {
  margin-bottom: 30px;
  font-size: 16px;
  color: #FFF;
  text-align: center;
}
.statistics .item {
  justify-content: center;
  background-color: #FFF;
  border: 2px dashed #1DBCDD;
  padding: 20px;
}
.statistics .item .details {
  margin-left: 30px;
}
.statistics .item .details h4 {
  font-size: 36px;
  font-weight: 600;
  color: #1DBCDD;
}
.statistics .item .details span {
  font-size: 16px;
  font-weight: 600;
  color: #2A3554;
}
@media (max-width: 991px) {
  .statistics .item {
    margin-bottom: 30px;
  }
}

/* End statistics */
/* Start Our Products */
.our_products_area {
  padding-top: 60px;
  padding-bottom: 30px;
}
.our_products_area h3 {
  text-align: center;
  text-transform: capitalize;
  color: #1DBCDD;
  font-size: 20px;
  font-weight: bold;
}
.our_products_area .tabs_control {
  margin-top: 26px;
  margin-bottom: 30px;
}
.our_products_area .tabs_control ul {
  display: flex;
  justify-content: center;
}
.our_products_area .tabs_control ul li a {
  width: 170px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #FFF;
  color: #2A3554;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
  box-shadow: 0px 0px 6px #A2AFCD33;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.our_products_area .tabs_control ul li:hover a, .our_products_area .tabs_control ul li.active a {
  background-color: #1DBCDD;
  color: #FFF;
}
@media (max-width: 767px) {
  .our_products_area .tabs_control > ul {
    flex-direction: column;
    align-items: center;
  }
  .our_products_area .tabs_control > ul li {
    margin-bottom: 10px;
  }
}
.our_products_area .owl-carousel .owl-prev,
.our_products_area .owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  width: 48px;
  height: 48px;
  font-size: 25px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px #2A355424;
  background-color: #FFF;
  color: #A2AFCD;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.our_products_area .owl-carousel .owl-prev:hover,
.our_products_area .owl-carousel .owl-next:hover {
  background: #1DBCDD;
  color: #FFF;
}
.our_products_area .owl-carousel .owl-prev {
  left: -6rem;
}
.our_products_area .owl-carousel .owl-next {
  right: -6rem;
}
@media (max-width: 991px) {
  .our_products_area .owl-carousel .owl-prev,
.our_products_area .owl-carousel .owl-next {
    display: none;
  }
}
.our_products_area .owl-carousel .card {
  margin-bottom: 30px;
  border-radius: 5px !important;
  box-shadow: 0px 0px 14px #A2AFCD33;
}
.our_products_area .owl-carousel .card .img_container {
  position: relative;
}
.our_products_area .owl-carousel .card .img_container .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, 0.35);
}
.our_products_area .owl-carousel .card .img_container img {
  border-radius: 5px 5px 0px 0px;
}
.our_products_area .owl-carousel .card .img_container a {
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 5px 10px;
  background-color: #FFF;
  color: #2D3766;
  font-size: 13px;
  text-decoration: none;
  border: 1px dashed #1DBCDD;
}
.our_products_area .owl-carousel .card .card-body h6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our_products_area .owl-carousel .card .card-body h6 .project_name {
  color: #2A3554;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.our_products_area .owl-carousel .card .card-body h6 .country {
  font-size: 13px;
  font-weight: 400;
  color: #2A3554;
}
.our_products_area .owl-carousel .card .card-body p {
  font-size: 14px;
  font-weight: 300;
  color: #2A3554;
}
.our_products_area .owl-carousel .card .card-body .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our_products_area .owl-carousel .card .card-body .footer .price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  margin-bottom: 30px;
  border-radius: 50%;
  background: #E8F8FC;
  color: #6F7F9F;
  font-size: 14px;
}
.our_products_area .owl-carousel .card .card-body .footer .price .price_number {
  font-size: 22px;
  font-weight: bold;
  color: #1A79E2;
}
.our_products_area .owl-carousel .card .card-body .footer .order {
  padding: 8px 16px;
  background-color: #FFF;
  border: 1px solid #1DBCDD;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  color: #1DBCDD;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.our_products_area .owl-carousel .card:hover .project_name {
  color: #1DBCDD !important;
}
.our_products_area .owl-carousel .card:hover .order {
  background-color: #00ADEE !important;
  color: #FFF !important;
}
.our_products_area .tab_two .nav-tabs,
.our_products_area .tab_three .nav-tabs {
  border: none;
  padding-right: 0;
}
.our_products_area .tab_two .nav-tabs li,
.our_products_area .tab_three .nav-tabs li {
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px !important;
  box-shadow: 0px 0px 14px #A2AFCD33;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  padding-right: 0;
  padding-left: 0;
}
.our_products_area .tab_two .nav-tabs li a,
.our_products_area .tab_three .nav-tabs li a {
  text-decoration: none;
}
.our_products_area .tab_two .nav-tabs li a .card .img_container,
.our_products_area .tab_three .nav-tabs li a .card .img_container {
  position: relative;
}
.our_products_area .tab_two .nav-tabs li a .card .img_container img,
.our_products_area .tab_three .nav-tabs li a .card .img_container img {
  border-radius: 5px 5px 0px 0px;
}
.our_products_area .tab_two .nav-tabs li a .card .card-body .card-title,
.our_products_area .tab_three .nav-tabs li a .card .card-body .card-title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.our_products_area .tab_two .nav-tabs li a .card:after,
.our_products_area .tab_three .nav-tabs li a .card:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  border-radius: 0px 0px 3px 3px;
}
.our_products_area .tab_two .nav-tabs li:hover .card-title, .our_products_area .tab_two .nav-tabs li.active .card-title,
.our_products_area .tab_three .nav-tabs li:hover .card-title,
.our_products_area .tab_three .nav-tabs li.active .card-title {
  color: #1DBCDD !important;
}
.our_products_area .tab_two .nav-tabs li:hover .card:after, .our_products_area .tab_two .nav-tabs li.active .card:after,
.our_products_area .tab_three .nav-tabs li:hover .card:after,
.our_products_area .tab_three .nav-tabs li.active .card:after {
  background-color: #1DBCDD !important;
}

/* End Our Products */
/* Start Loading Overlay */
/* 
.loading-overlay {
    background: #707070;
    color: #FFF;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 350px auto;
    animation: sk-chase 2.5s infinite linear both;
  }

  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }

  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }

  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }

  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }

  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  } */
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #FFF;
}

.spinner {
  display: table-cell;
  width: 100px;
  height: 70px;
  background-color: transparent;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.background .spinner-containers .img {
  margin: 0 auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(0px);
  }
  50% {
    -webkit-transform: perspective(0px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(0px) rotateY(180deg) rotateX(180deg);
  }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(0px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(0px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(0px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(0px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(0px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(0px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/* End Loading Overlay */
/* Start Scroll Button */
#scroll-top {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #0093FF;
  color: #DDD;
  font-size: 20px;
  border-radius: 800px;
  box-shadow: 0px 3px 6px #FFFFFF7A;
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 9998;
  text-align: center;
  cursor: pointer;
  display: none;
}

/* End Scroll Button */
/* Start Popup main video */
@media (min-width: 768px) {
  #popup_main_video .modal-xl {
    width: 60%;
    max-width: 1200px;
  }
}
#popup_main_video .modal-content {
  border-radius: 5px;
  background-color: transparent !important;
  box-shadow: none !important;
  border: none;
}
#popup_main_video .modal-content .modal-body .video_container {
  position: relative;
  overflow: hidden;
}
#popup_main_video .modal-content .modal-body .video_container video {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
#popup_main_video .modal-content .modal-footer {
  display: flex;
  justify-content: center;
  border: none;
}
#popup_main_video .modal-content .modal-footer .follow_up {
  border: 1px solid #1DBCDD;
  border-radius: 3px;
  background-color: #FFF;
  padding: 8px 16px;
  color: #2A3554;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#popup_main_video .modal-content .modal-footer .follow_up i {
  width: 7px;
  height: 12px;
  position: relative;
  top: 0.5px;
  left: 5px;
  display: inline-block;
  font-size: 14px;
}
#popup_main_video .modal-content .modal-footer .follow_up:hover {
  background-color: #1DBCDD;
  color: #FFF;
}

/* End Popup main video */
/* Start my account */
@media (min-width: 768px) {
  #my_account .modal-xl {
    width: 60%;
    max-width: 1200px;
  }
}
#my_account .modal-content {
  border-radius: 5px;
  box-shadow: 0px 30px 30px #2699FB1A;
}
#my_account .modal-content .modal-header h4 {
  font-size: 14px;
  color: #2D3766;
  font-weight: 500;
}
#my_account .modal-content .modal-header .close {
  opacity: 1;
}
#my_account .modal-content .modal-header .close .close_button {
  width: 29px;
  height: 29px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  border: 1px solid #2D3766;
  border-radius: 50%;
  color: #2D3766;
  font-size: 24px;
  cursor: pointer;
}
#my_account .modal-content .modal-body {
  text-align: initial;
}
#my_account .modal-content .modal-body .form .heading {
  margin-top: 30px;
  margin-bottom: 30px;
}
#my_account .modal-content .modal-body .form .heading span {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6F7F9F;
}
#my_account .modal-content .modal-body .form .heading h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #2D3766;
}
#my_account .modal-content .modal-body .form .cont .switch {
  display: flex;
  justify-content: center;
}
#my_account .modal-content .modal-body .form .cont .switch li {
  width: 170px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: #FFF;
  color: #2A3554;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid #1DBCDD;
  box-shadow: 0px 0px 6px #A2AFCD33;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
#my_account .modal-content .modal-body .form .cont .switch li button {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
#my_account .modal-content .modal-body .form .cont .switch li:hover {
  background-color: #1DBCDD;
}
#my_account .modal-content .modal-body .form .cont .switch li:hover button {
  color: #FFF !important;
}
#my_account .modal-content .modal-body .form .cont > h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
  color: #6F7F9F;
  position: relative;
  opacity: 0.8;
}
#my_account .modal-content .modal-body .form .cont > h5:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  height: 1px;
  background-color: #6F7F9F;
  opacity: 0.5;
}
#my_account .modal-content .modal-body .form .cont > h5:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  height: 1px;
  background-color: #6F7F9F;
  opacity: 0.5;
}
#my_account .modal-content .modal-body .form .cont .tab_content .tab_one form label,
#my_account .modal-content .modal-body .form .cont .tab_content .tab_two form label {
  font-size: 14px;
  font-weight: 500;
  color: #2A3554;
}
#my_account .modal-content .modal-body .form .cont .tab_content .tab_one form input,
#my_account .modal-content .modal-body .form .cont .tab_content .tab_two form input {
  width: 100%;
  height: auto;
  padding: 10px 14px !important;
  color: #2A3554;
  font-size: 12px;
  border: 1px solid #A2AFCD;
  border-radius: 3px;
  font-weight: 500;
}
#my_account .modal-content .modal-body .form .cont .tab_content .tab_one form .send_again,
#my_account .modal-content .modal-body .form .cont .tab_content .tab_two form .send_again {
  display: none;
  justify-content: flex-end;
  margin-top: 5px;
  color: #2A3554;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
#my_account .modal-content .modal-body .form .cont .tab_content .tab_one form .submit_form_signin,
#my_account .modal-content .modal-body .form .cont .tab_content .tab_two form .submit_form_signin {
  background-color: #1DBCDD;
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  border: 1px solid #1DBCDD;
  border-radius: 3px;
}
#my_account .modal-content .modal-body .img_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#my_account .modal-content .modal-body .img_container .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/popups/overlay.svg);
}
#my_account .modal-content .modal-body .img_container .oil {
  max-width: 100%;
}
#my_account .modal-content .modal-body .img_container .logo {
  position: absolute;
}
#my_account .modal-content .modal-footer .close_button {
  padding: 10px 20px;
  background: #E64545;
  color: #FFF;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 768px) {
  #client_register .modal-xl {
    width: 60%;
    max-width: 1200px;
  }
}
#client_register .modal-content {
  border-radius: 5px;
  box-shadow: 0px 30px 30px #2699FB1A;
}
#client_register .modal-content .modal-header h4 {
  font-size: 14px;
  color: #2D3766;
  font-weight: 500;
}
#client_register .modal-content .modal-header .close {
  opacity: 1;
}
#client_register .modal-content .modal-header .close .close_button {
  width: 29px;
  height: 29px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  border: 1px solid #2D3766;
  border-radius: 50%;
  color: #2D3766;
  font-size: 24px;
  cursor: pointer;
}
#client_register .modal-content .modal-body {
  text-align: initial;
}
#client_register .modal-content .modal-body .form .heading {
  margin-top: 30px;
  margin-bottom: 30px;
}
#client_register .modal-content .modal-body .form .heading span {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6F7F9F;
}
#client_register .modal-content .modal-body .form .heading h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #2D3766;
}
#client_register .modal-content .modal-body .form .cont .tab_content .tab_one form label {
  font-size: 14px;
  font-weight: 500;
  color: #2A3554;
}
#client_register .modal-content .modal-body .form .cont .tab_content .tab_one form input {
  width: 100%;
  height: auto;
  padding: 10px 14px !important;
  color: #2A3554;
  font-size: 12px;
  border: 1px solid #A2AFCD;
  border-radius: 3px;
  font-weight: 500;
}
#client_register .modal-content .modal-body .form .cont .tab_content .tab_one form .send_again {
  display: none;
  justify-content: flex-end;
  margin-top: 5px;
  color: #2A3554;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
#client_register .modal-content .modal-body .form .cont .tab_content .tab_one form .submit_form_register {
  background-color: #1DBCDD;
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  border: 1px solid #1DBCDD;
  border-radius: 3px;
}
#client_register .modal-content .modal-body .form .cont .tab_content .tab_one form .marketer_register {
  background-color: #FFF;
  font-size: 16px;
  font-weight: 600;
  color: #2A3554;
  border: 1px solid #1DBCDD;
  border-radius: 3px;
}
#client_register .modal-content .modal-body .form .cont .tab_content .tab_one form .already_account {
  padding: 0;
  float: right;
  margin-top: 5px;
  color: #2A3554;
  font-size: 12px;
  cursor: pointer;
}
#client_register .modal-content .modal-body .form .cont .tab_content .tab_one form .already_account span {
  color: #1DBCDD;
  text-decoration: underline;
}
#client_register .modal-content .modal-body .img_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#client_register .modal-content .modal-body .img_container .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/popups/overlay.svg);
}
#client_register .modal-content .modal-body .img_container .oil {
  max-width: 100%;
}
#client_register .modal-content .modal-body .img_container .logo {
  position: absolute;
}
#client_register .modal-content .modal-footer .close_button {
  padding: 10px 20px;
  background: #E64545;
  color: #FFF;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 768px) {
  #marketer_register .modal-xl {
    width: 60%;
    max-width: 1200px;
  }
}
#marketer_register .modal-content {
  border-radius: 5px;
  box-shadow: 0px 30px 30px #2699FB1A;
}
#marketer_register .modal-content .modal-header h4 {
  font-size: 14px;
  color: #2D3766;
  font-weight: 500;
}
#marketer_register .modal-content .modal-header .close {
  opacity: 1;
}
#marketer_register .modal-content .modal-header .close .close_button {
  width: 29px;
  height: 29px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  border: 1px solid #2D3766;
  border-radius: 50%;
  color: #2D3766;
  font-size: 24px;
  cursor: pointer;
}
#marketer_register .modal-content .modal-body {
  text-align: initial;
}
#marketer_register .modal-content .modal-body .form .heading {
  margin-top: 30px;
  margin-bottom: 30px;
}
#marketer_register .modal-content .modal-body .form .heading span {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6F7F9F;
}
#marketer_register .modal-content .modal-body .form .heading h3 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #2D3766;
}
#marketer_register .modal-content .modal-body .form .cont .tab_content .tab_two form label {
  font-size: 14px;
  font-weight: 500;
  color: #2A3554;
}
#marketer_register .modal-content .modal-body .form .cont .tab_content .tab_two form input {
  width: 100%;
  height: auto;
  padding: 10px 14px !important;
  color: #2A3554;
  font-size: 12px;
  border: 1px solid #A2AFCD;
  border-radius: 3px;
  font-weight: 500;
}
#marketer_register .modal-content .modal-body .form .cont .tab_content .tab_two form .enter {
  background-color: #1DBCDD;
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  border: 1px solid #1DBCDD;
  border-radius: 3px;
}
#marketer_register .modal-content .modal-body .form .cont .tab_content .tab_two form .client_register {
  background-color: #FFF;
  font-size: 16px;
  font-weight: 600;
  color: #2A3554;
  border: 1px solid #1DBCDD;
  border-radius: 3px;
}
#marketer_register .modal-content .modal-body .form .cont .tab_content .tab_two form .already_account {
  padding: 0;
  float: right;
  margin-top: 5px;
  color: #2A3554;
  font-size: 12px;
  cursor: pointer;
}
#marketer_register .modal-content .modal-body .form .cont .tab_content .tab_two form .already_account span {
  color: #1DBCDD;
  text-decoration: underline;
}
#marketer_register .modal-content .modal-body .img_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#marketer_register .modal-content .modal-body .img_container .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/popups/overlay.svg);
}
#marketer_register .modal-content .modal-body .img_container .oil {
  max-width: 100%;
}
#marketer_register .modal-content .modal-body .img_container .logo {
  position: absolute;
}
#marketer_register .modal-content .modal-footer .close_button {
  padding: 10px 20px;
  background: #E64545;
  color: #FFF;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

/* End Popup my account */
/* Start order popup */
/* @media (min-width: 992px) {
    .modal-lg {
      width: 900px;
    }
  } */
@media (min-width: 768px) {
  #order_popup .modal-xl {
    width: 60%;
    max-width: 1200px;
  }
}
#order_popup .modal-content {
  border-radius: 5px;
  box-shadow: 0px 30px 30px #2699FB1A;
  text-align: initial;
}
#order_popup .modal-content .modal-header h4 {
  font-size: 18px;
  color: #2D3766;
  font-weight: 600;
}
#order_popup .modal-content .modal-header .close {
  opacity: 1;
}
#order_popup .modal-content .modal-header .close .close_button {
  width: 29px;
  height: 29px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  border: 2px solid #2D3766;
  border-radius: 50%;
  color: #2D3766;
  font-size: 24px;
  cursor: pointer;
}
#order_popup .modal-content .modal-body form label {
  font-size: 14px;
  font-weight: 600;
  color: #2A3554;
}
#order_popup .modal-content .modal-body form input {
  font-size: 12px;
  color: #2A3554;
}
#order_popup .modal-content .modal-body form .methods {
  margin-right: 10px;
}
#order_popup .modal-content .modal-body form .transfer {
  margin-top: 30px;
}
#order_popup .modal-content .modal-body form .transfer .first p {
  font-weight: 600;
  font-size: 12px;
  color: #2A3554;
  line-height: 2;
}
#order_popup .modal-content .modal-body form .transfer .cont {
  margin-left: 30px;
}
#order_popup .modal-content .modal-body form .transfer .cont #choose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 92px;
  background-color: #F6F9FF;
  border: 1px solid #2A355442;
  border-radius: 5px;
  cursor: pointer;
  /* Style as you please, it will become the visible UI component. */
}
#order_popup .modal-content .modal-body form .transfer .cont #choose i {
  font-size: 27px;
}
#order_popup .modal-content .modal-body form .transfer .cont #upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
#order_popup .modal-content .modal-footer {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#order_popup .modal-content .modal-footer .complete_button {
  padding: 8px 60px;
  background-color: #1DBCDD;
  color: #FFF;
  border: 1px solid #1DBCDD;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
#order_popup .modal-content .modal-footer .close_button {
  padding: 10px 20px;
  background: #E64545;
  color: #FFF;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 991px) {
  #order_popup .modal-content .modal-footer {
    justify-content: center;
  }
}

/* End order popup */
/* Start Share */
.share {
  display: none;
  position: fixed;
  right: 85px;
  bottom: 50px;
  padding: 8px 16px;
  background-color: #ee8936;
  color: #FFF;
  box-shadow: 0px 0px 3px #CCCCCC29;
  border: 1px solid #ee8936;
  border-radius: 3px;
  font-size: 14px;
  z-index: 9998;
  cursor: pointer;
}

/* End Share */
/* Start Popup Share */
#popup_share .modal-content {
  width: 388px;
  border-radius: 5px;
  box-shadow: 0px 30px 30px #2699FB1A;
}
#popup_share .modal-content .modal-header p {
  font-size: 18px;
  font-weight: bold;
  color: #2D3766;
}
#popup_share .modal-content .modal-header p span {
  color: #1DBCDD;
}
#popup_share .modal-content .modal-header .close {
  opacity: 1;
}
#popup_share .modal-content .modal-header .close .close_button {
  width: 29px;
  height: 29px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  border: 1px solid #2D3766;
  border-radius: 50%;
  color: #2D3766;
  font-size: 24px;
  cursor: pointer;
}
#popup_share .modal-content .modal-body {
  text-align: initial;
}
#popup_share .modal-content .modal-body img {
  margin-bottom: 15px;
}
#popup_share .modal-content .modal-body h4 {
  font-size: 20px;
  font-weight: bold;
  color: #2D3766;
  text-transform: capitalize;
}
#popup_share .modal-content .modal-body p {
  font-size: 16px;
  color: #A2AFCD;
}
#popup_share .modal-content .modal-body .form-group label {
  font-size: 14px;
  font-weight: 600;
  color: #2A3554;
}
#popup_share .modal-content .modal-body button {
  background-color: #1DBCDD;
  border: 1px solid #1DBCDD;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
}
#popup_share .modal-content .modal-body button:hover {
  color: #FFF;
}
#popup_share .modal-content .modal-footer .close_button {
  padding: 10px 20px;
  background: #E64545;
  color: #FFF;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

/* End Popup Share */
/* Start Popup */
.modal .modal-content {
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 30px 30px #2699FB1A;
}
.modal .modal-content .modal-header .close {
  opacity: 1;
}
.modal .modal-content .modal-header .close .close_button {
  display: inline-block;
  width: 29px;
  height: 29px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #2D3766;
  border-radius: 50%;
  color: #2D3766;
  font-size: 24px;
  cursor: pointer;
}
.modal .modal-content .modal-body img {
  margin-bottom: 15px;
}
.modal .modal-content .modal-body h4 {
  font-size: 20px;
  font-weight: bold;
  color: #2D3766;
  text-transform: capitalize;
}
.modal .modal-content .modal-body p {
  font-size: 16px;
  color: #A2AFCD;
}
.modal .modal-content .modal-footer .close_button {
  padding: 10px 20px;
  background: #E64545;
  color: #FFF;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

/* End Popup */
/* Start Popup Video */
@media (min-width: 768px) {
  #popup_video .modal-xl {
    width: 60%;
    max-width: 1200px;
  }
}
#popup_video .modal-content {
  width: 953px;
  border-radius: 5px;
  box-shadow: 0px 30px 30px #2699FB1A;
}
#popup_video .modal-content .modal-header .close {
  opacity: 1;
}
#popup_video .modal-content .modal-header .close .close_button {
  width: 29px;
  height: 29px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  border: 1px solid #2D3766;
  border-radius: 50%;
  color: #2D3766;
  font-size: 24px;
  cursor: pointer;
}
#popup_video .modal-content .modal-body .video_container {
  position: relative;
  overflow: hidden;
}
#popup_video .modal-content .modal-body .video_container video {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
#popup_video .modal-content .modal-body .video_container video .controls {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  flex-wrap: wrap;
  width: 100%;
}
#popup_video .modal-content .modal-footer .close_button {
  padding: 10px 20px;
  background: #E64545;
  color: #FFF;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

/* End Popup video */
/* Start Footer */
footer .info {
  background-color: #1DBCDD;
  padding-top: 50px;
  padding-bottom: 25px;
}
footer .info .social-media {
  text-align: center;
}
footer .info .social-media ul {
  margin-top: 30px;
  justify-content: center;
}
footer .info .social-media ul li {
  width: 24px;
  height: 24px;
  line-height: 22px;
  text-align: center;
  background-color: transparent;
  border-radius: 12px;
  margin-left: 15px;
  margin-right: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
footer .info .social-media ul li a {
  text-decoration: none;
  color: #FFF;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
footer .info .social-media ul li:hover {
  background-color: #FFF;
}
footer .info .social-media ul li:hover a {
  color: #1A79E2;
}
@media (max-width: 991px) {
  footer .info .social-media {
    margin-bottom: 60px;
  }
}
footer .info .quick_links h4 {
  font-size: 20px;
  font-weight: 500;
  color: #FFF;
  margin-bottom: 20px;
}
footer .info .quick_links ul li {
  margin-bottom: 34px;
  font-size: 14px;
  font-weight: 600;
}
footer .info .quick_links ul li a {
  text-decoration: none;
  color: #FFF;
}
footer .info .quick_links ul li button {
  color: #FFF;
  padding-right: 0;
  padding-left: 0;
}
footer .info .contact_numbers h4 {
  font-size: 20px;
  font-weight: 500;
  color: #FFF;
  margin-bottom: 20px;
}
footer .info .contact_numbers ul li {
  margin-bottom: 34px;
  font-size: 14px;
  font-weight: 600;
}
footer .info .contact_numbers ul li a {
  text-decoration: none;
  color: #FFF;
}
footer .info .contact_numbers ul li a i {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}
footer .info .email_us h4 {
  font-size: 20px;
  font-weight: 500;
  color: #FFF;
  margin-bottom: 20px;
}
footer .info .email_us ul li {
  margin-bottom: 34px;
  font-size: 14px;
  font-weight: 600;
}
footer .info .email_us ul li a {
  text-decoration: none;
  color: #FFF;
}
footer .info .email_us ul li a i {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}
footer .info .email_us ul li a.location {
  display: flex;
}
footer .info .email_us ul li a.location span {
  position: relative;
  top: -12px;
}
@media (max-width: 767px) {
  footer .info .quick_links {
    text-align: center;
    margin-bottom: 30px;
  }
  footer .info .quick_links li {
    text-align: center;
  }
  footer .info .contact_numbers {
    text-align: center;
    margin-bottom: 30px;
  }
  footer .info .email_us {
    text-align: center;
  }
  footer .info .email_us p {
    text-align: auto;
  }
}
footer .copyrights {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1AAFCE;
}
footer .copyrights .text {
  margin-top: 5px;
  color: #FFF;
  font-size: 20px;
}
@media (max-width: 991px) {
  footer .copyrights .text {
    text-align: center;
    margin-bottom: 30px;
  }
}
footer .copyrights .payment-ways {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #F6F9FF;
  border-radius: 5px;
  opacity: 0.63;
}
@media (max-width: 576px) {
  footer .copyrights .text {
    font-size: 15px;
  }
}
@media (max-width: 1199px) {
  footer .copyrights .payment-ways {
    padding-right: 0;
    padding-left: 0;
  }
  footer .copyrights .payment-ways img {
    width: 75%;
    height: 75%;
  }
}

/* End Footer */
/* Start global */
h1, h2, h3, h4, h5, h6 {
  font-family: "Cairo", sans-serif;
}

p, a {
  font-family: "Cairo", sans-serif;
}

/* End global */
/* Start header */
header nav .navbar-brand {
  margin-right: 0;
}

/* End header */
/* Start Our Works */
.our_works_area .tab_content .card .img_container a {
  left: auto;
  right: 10px;
}
.our_works_area .tab_content .card .card-body p {
  text-align: right;
}

/* End Our Works */
/* Start statistics */
.statistics .item .details {
  margin-left: 0;
  margin-right: 30px;
}

/* End statistics */
/* Start Our Products */
.our_products_area .tab_content .card .img_container a {
  left: auto;
  right: 10px;
}
.our_products_area .tab_content .card .card-body p {
  text-align: right;
}

/* End Our Products */
/* Start footer */
footer .info .social-media ul {
  padding-right: 0;
}
footer .info .quick_links ul {
  padding-right: 0;
}
footer .info .contact_numbers ul {
  position: relative;
  right: -10px;
  padding-right: 0;
}
footer .info .email_us ul {
  position: relative;
  right: -10px;
  padding-right: 0;
}
@media (min-width: 768px) {
  footer .info .quick_links {
    text-align: right;
  }
  footer .info .quick_links ul {
    padding-right: 0;
  }
  footer .info .contact_numbers {
    text-align: right;
  }
  footer .info .contact_numbers ul {
    position: relative;
    right: -10px;
    padding-right: 0;
  }
  footer .info .email_us {
    text-align: right;
  }
  footer .info .email_us ul {
    position: relative;
    right: -10px;
    padding-right: 0;
  }
}
@media (min-width: 992px) {
  footer .copyrights .text {
    text-align: right;
  }
}

/* End footer */
.modal button.close {
  margin-left: 0;
}

/* Start popup main video */
#popup_main_video .modal-footer .follow_up i {
  left: auto;
  right: 5px;
}

/* End popup main video */

/*# sourceMappingURL=main_rtl.css.map */
