/* Start Footer */

footer {
    .info {
        background-color: $mainColor;
        padding-top: 50px;
        padding-bottom: 25px;
        .social-media {
            text-align: center;
            ul {
                margin-top: 30px;
                justify-content: center;
                li {
                    width: 24px;
                    height: 24px;
                    line-height: 22px;
                    text-align: center;
                    background-color: transparent;
                    border-radius: 12px;
                    margin-left: 15px;
                    margin-right: 15px;
                    @include prefixer(transition, all 0.3s, webkit moz o ms);
                    a {
                        text-decoration: none;
                        color: #FFF;
                        @include prefixer(transition, all 0.3s, webkit moz o ms);
                    }
                    &:hover {
                        background-color: #FFF;
                        a {
                            color: #1A79E2;
                        }
                    }
                }
            }
        }
        .quick_links {
            h4 {
                font-size: 20px;
                font-weight: 500;
                color: #FFF;
                margin-bottom: 20px;
            }
            ul {
                li {
                    margin-bottom: 34px;
                    font-size: 14px;
                    font-weight: 600;
                    a {
                        text-decoration: none;
                        color: #FFF;
                    }
                }
            }

        }
        .contact_numbers {
            h4 {
                font-size: 20px;
                font-weight: 500;
                color: #FFF;
                margin-bottom: 20px;
            }
            ul {
                li {
                    margin-bottom: 34px;
                    font-size: 14px;
                    font-weight: 600;
                    a {
                        text-decoration: none;
                        color: #FFF;
                        i {
                            margin-left: 10px;
                            margin-right: 10px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .email_us {
            h4 {
                font-size: 20px;
                font-weight: 500;
                color: #FFF;
                margin-bottom: 20px;
            }
            ul {
                li {
                    margin-bottom: 34px;
                    font-size: 14px;
                    font-weight: 600;
                    a {
                        text-decoration: none;
                        color: #FFF;
                        i {
                            margin-left: 10px;
                            margin-right: 10px;
                            font-size: 18px;
                            
                        }
                        &.location {
                            display: flex;
                            span {
                                position: relative;
                                top: -12px;
                            }
                        }
                    }
                }
            }
        }
    }
    .copyrights {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #1AAFCE;
        .text {
            margin-top: 5px;
            color: #FFF;
            font-size: 20px;
        }
        .payment-ways {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: #F6F9FF;
            border-radius: 5px;
            opacity: 0.63;
        }
    }
}

/* End Footer */