/* Start Header */

header {
    nav {
        .collapse {
            .navbar-nav {
                li {
                    position: relative;
                    padding: 10px 0;
                    font-size: 17px;
                    font-weight: bold;
                    
                    @include prefixer(transition, all 0.3s, webkit moz o ms);
                    a {
                        color: $textColor !important;
                        @include prefixer(transition, all 0.3s, webkit moz o ms);
                    }

                    &:hover {
                        a {
                            color: $mainColor !important;
                        }
                    }
                    
                    @media (min-width: 992px) {
                        padding: 30px 15px;
                        &:hover {
                            &:after {
                                background-color: $mainColor;
                            }
                            a {
                                color: $mainColor !important;
                            }
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: -32px;
                            left: 0;
                            width: 100%;
                            height: 8px;
                            background-color: transparent;
                        }
                    }
                    @media (min-width: 992px) and (max-width: 1199px) {
                        font-size: 14px;
                    }
                }
                @media (min-width: 992px) {
                    margin-left: $xsMargin !important;
                    margin-right: $xsMargin !important;
                }
            }
            button {
                font-size: 14px;
                font-family: $rob;
                padding: 10px 15px;
                @include prefixer(transition, all 0.3s, webkit moz o ms);
            }
            .language_button {
                padding: 10px 15px;
                margin-left: 10px;
                margin-right: 10px;
                color: #2A3554;
                font-size: 14px;
                font-weight: bold;
                border: 1px solid $mainColor;
            }
        }
    }
}

/* End Header */